<template>
  <div class="yakuniy">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <input
            class="form-control"
            type="text"
            v-model="searchQuery"
            placeholder="Qidiruv"
          />
        </div>
      </div>
      <div class="table-responsive">
        <table v-if="resources.length" class="table">
          <thead>
            <tr>
              <th>Savol va javoblar</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in resources" :key="index">
              <td>
                <p>
                  <strong>{{ index + 1 }}. </strong>
                  <strong>Savol</strong>
                  <span>{{ item.title }}</span>
                </p>
                <p class="ml-3"><strong>Javob</strong> {{ item.answer }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import question from "@/static/avm.json";
export default {
  name: "IndexPage",
  data() {
    return {
      searchQuery: null,
      resources: question,
    };
  },
  computed: {
    resultQuery() {
      if (this.searchQuery) {
        return this.resources.filter((item) => {
          return this.searchQuery
            .toLowerCase()
            .split(" ")
            .every((v) => item.title.toLowerCase().includes(v));
        });
      } else {
        return this.resources;
      }
    },
  },
};
</script>

<style>
.yakuniy {
  margin-top: 20px;
}
.yakuniy input {
  margin-top: 20px;
}
.yakuniy .container {
  box-shadow: 0 0 20px 8px #d0d0d0;
}
</style>
